<section class="w-full bg-[#07080c] text-white py-20 lottery-steps">
  <div class="text-center px-4">
    <span class="ml-2 text-xl font-bold text-[#A855F7]">How it Play</span>

    <h2 class="mt-4 text-3xl md:text-4xl font-bold">
      3 Simple Steps
      <br />
      <span class="text-[#A6B1C2] mt-4 inline-block">Try Your Luck</span>
    </h2>

    <p
      class="mt-4 max-w-[54rem] mx-auto text-[#A6B1C2] font-medium text-sm md:text-base leading-relaxed"
    >
      Choosing your lucky number has never been this simple. With our
      user-friendly interface, you can pick a number in seconds no confusing
      steps or tricky rules. Just tap, select, and get ready to win!
    </p>
  </div>

  <!-- Steps Section -->
  <div
    class="grid grid-cols-1 md:grid-cols-3 gap-8 lg:gap-20 mt-16 px-6 lg:px-28 relative max-w-7xl mx-auto"
  >
    <!-- STEP BLOCK -->
    <div class="relative pl-8 md:pb-24">
      <!-- Vertical Line -->
      <div
        class="absolute left-1 top-0 h-full md:w-[1px] bg-custom-gradient-border"
      ></div>

      <!-- + Sign -->
      <div
        class="absolute left-[-5px] top-[-23px] text-[#06B6D4] text-3xl -translate-y-1"
      >
        +
      </div>

      <!-- Title -->
      <h3 class="text-2xl font-semibold tracking-tight">
        Choose Your <span class="text-[#A855F7]">Lottery</span>
      </h3>

      <!-- Description -->
      <p class="text-gray-400 text-[15px] mt-2 leading-5 max-w-xs">
        Select from our exciting daily, weekly, or special jackpot draws. Play
        your favorite or try them all for more chances to win.
      </p>

      <!-- BIG 1 -->
      <span
        class="absolute bottom-[-23px] left-[-30px] md:left-[-56px] text-[140px] lg:text-[150px] text-transparent font-bold leading-none opacity-80 text-outline-3"
      >
        1
      </span>
    </div>

    <!-- STEP BLOCK -->
    <div class="relative pl-8 md:pb-24 mt-10">
      <div
        class="absolute left-1 top-0 h-full md:w-[1px] bg-custom-gradient-border"
      ></div>
      <div
        class="absolute left-[-5px] top-[-23px] text-[#06B6D4] text-3xl -translate-y-1"
      >
        +
      </div>

      <h3 class="text-2xl font-semibold tracking-tight">
        Pick Your <span class="text-[#A855F7]">Numbers</span>
      </h3>

      <p class="text-gray-400 text-[15px] mt-2 leading-5 max-w-xs">
        Choose your lucky numbers manually or let the system auto-generate them
        for you. It’s fast, simple, and designed to maximize your chances of
        winning.
      </p>

      <span
        class="absolute bottom-[-23px] left-[-18px] md:left-[-43px] text-[140px] lg:text-[150px] text-transparent font-bold leading-none opacity-80 text-outline-3 clip-left-half"
      >
        2
      </span>
    </div>

    <!-- STEP BLOCK -->
    <div class="relative pl-8 md:pb-24 mt-20">
      <div
        class="absolute left-1 top-0 h-full md:w-[1px] bg-custom-gradient-border"
      ></div>
      <div
        class="absolute left-[-5px] top-[-23px] text-[#06B6D4] text-3xl -translate-y-1"
      >
        +
      </div>

      <h3 class="text-2xl font-semibold tracking-tight">
        Check Your <span class="text-[#A855F7]">Results</span>
      </h3>

      <p class="text-gray-400 text-[15px] mt-2 leading-5 max-w-xs">
        Once the results are announced, see if you’ve won your cash rewards.
        Don’t forget: prizes must be claimed within 48 Hours, so you never miss
        your winnings!
      </p>

      <span
        class="absolute bottom-[-23px] left-[-18px] md:left-[-43px] text-[140px] lg:text-[150px] text-transparent font-bold leading-none opacity-80 text-outline-3 clip-left-half"
      >
        3
      </span>
    </div>
  </div>
</section>

<!-- <div class="bg-[#0A0E1F] text-white py-10 px-4">

  <div class="flex flex-col items-center text-center">
    <h2
      class="lg:text-[22px] text-white font-libre font-bold text-[18px] leading-[27px]"
    >
      <span class="text-[#19E4E0] border-b-2 border-[#19E4E0]">Lottery</span>
      How it works
    </h2>
    <h1 class="text-2xl lg:text-[42px] font-bold mt-2">
      3 Simple Steps to Try Your Luck
    </h1>
    <p
      class="lg:mt-3 mt-1 text-[12px] lg:text-[16px] text-gray-400 text-center max-w-3xl px-4"
    >
      Choosing your lucky number has never been this simple. With our
      user-friendly interface, you can pick a number in seconds — no confusing
      steps or tricky rules. Just tap, select, and get ready to win!
    </p>
  </div> -->

<!-- Desktop + Mobile Layout -->
<!-- <div class="bg-[#0A0E1F] py-0 lg:py-16 text-white text-center">
    <div class="max-w-7xl mx-auto py-4 lg:py-0 px-4">
      <div
        class="flex flex-col md:flex-row justify-between lg:items-start sm:items-center gap-12 relative"
      > -->
<!-- Curved Line -->
<!-- <div class="absolute inset-0 pointer-events-none">
          <img
            class="hidden lg:block pl-6 mt-28"
            src="https://cmax.pages.dev/assets/landing-page/Line%207.svg"
            alt="Curved line"
          />
          <img
            class="block md:hidden h-[85%] mt-10"
            src="https://cmax.pages.dev/assets/landing-page/line-mobile.svg"
            alt="Curved line"
          />
        </div> -->

<!-- Step 1 -->
<!-- <div class="flex flex-col items-center z-10">
          <div class="text-[150px] font-bold text-[#FFFFFF4D] leading-none">
            1
          </div>
          <div
            class="border border-[#19E4E0] rounded-2xl p-1 -mt-16 bg-[#13192E] shadow-[0px_4px_40px_0px_#19E4E066] w-[140px] h-[100px] flex items-center justify-center"
          >
            <img
              src="https://cmax.pages.dev/assets/landing-page/lottery-card.png"
              alt="Choose Lottery"
              class="w-[97px] h-[97px]"
            />
          </div>
          <h3 class="text-[12px] lg:text-[24px] mt-4 font-semibold">
            Choose Your <span class="text-[#19E4E0]">Lottery</span>
          </h3>
          <p class="text-[10px] lg:text-[16px] text-[#9196A5] max-w-xs mt-2">
            Pick from our five thrilling jackpot draws, including popular games
            like Powerball. Try one — or go all in!
          </p>
        </div> -->

<!-- Step 2 -->
<!-- <div class="flex flex-col items-center z-10">
          <div class="text-[150px] font-bold text-[#FFFFFF4D] leading-none">
            2
          </div>
          <div
            class="border border-[#19E4E0] rounded-2xl p-1 -mt-16 bg-[#13192E] shadow-[0px_4px_40px_0px_#19E4E066] w-[140px] h-[100px] flex items-center justify-center"
          >
            <img
              src="https://cmax.pages.dev/assets/landing-page/lottery-balls.png"
              alt="Pick Numbers"
              class="w-[104px] h-[104px]"
            />
          </div>
          <h3 class="text-[12px] lg:text-[24px] mt-4 font-semibold">
            Pick Your <span class="text-[#19E4E0]">Numbers</span>
          </h3>
          <p class="text-[10px] lg:text-[16px] text-[#9196A5] max-w-xs mt-2">
            It’s all about luck! Choose your lucky digits manually or let the
            system auto-generate for you. Either way, you’re in!
          </p>
        </div> -->

<!-- Step 3 -->
<!-- <div class="flex flex-col items-center z-10">
          <div class="text-[150px] font-bold text-[#FFFFFF4D] leading-none">
            3
          </div>
          <div
            class="border border-[#19E4E0] rounded-2xl p-1 -mt-16 bg-[#13192E] shadow-[0px_4px_40px_0px_#19E4E066] w-[140px] h-[100px] flex items-center justify-center"
          >
            <img
              src="https://cmax.pages.dev/assets/landing-page/treasure-box.png"
              alt="Check Numbers"
              class="w-[104px] h-[104px]"
            />
          </div>
          <h3 class="text-[12px] lg:text-[24px] mt-4 font-semibold">
            Check Your <span class="text-[#19E4E0]">Numbers</span>
          </h3>
          <p class="text-[10px] lg:text-[16px] text-[#9196A5] max-w-xs mt-2">
            Once results are out, check if you’ve won. Don’t forget: prizes must
            be claimed within 12 months!
          </p>
        </div>
      </div>
    </div>
  </div>

</div> -->
