<div class="bg-game-purple">
  <div *ngIf="testimonialsImages.length > 0">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let testimonial of testimonialsImages; let i = index">
        
        <div class="relative mx-1 my-2 h-[21vh] sm:h-[34vh] md:h-[40vh] overflow-hidden bg-black"  (click)="onPlayNow(testimonial)">
          
          <img
            [src]="testimonial.ImageBase64"
            [alt]="testimonial.Name"
            class="adjust-image"
          />

          <div class="absolute inset-0 bg-black/20 md:bg-black/10 z-10"></div>

          <div class="absolute left-0 top-0 h-full flex flex-col justify-center px-4 sm:px-6 md:pl-10 z-20 w-full sm:w-[70%] md:w-[60%] lg:w-[45%]">
            <h2 class="text-[1.5rem] sm:text-2xl md:text-3xl lg:text-[2.5rem] font-bold text-yellow-300 drop-shadow-lg mb-1 sm:mb-2 leading-tight">
              {{ testimonial.Name }}
            </h2>
          </div>


          <!-- <div class="absolute bottom-4 right-4 sm:bottom-6 sm:right-6 md:bottom-10 md:right-10 z-20">
              <button
              *ngIf="testimonial.Route"
              class="bg-gradient-to-b from-[#ffb03a] via-[#ff8e15] to-[#ff7e00] text-white font-extrabold py-2 px-5 md:px-7 text-xs sm:text-sm md:text-base rounded-md border-[2px] border-[#ffca7a] shadow-[0_6px_20px_rgba(255,126,0,0.4),inset_0_2px_4px_rgba(255,255,255,0.5)] w-fit hover:brightness-110 hover:scale-105 active:scale-95 transition-all duration-300 uppercase tracking-wider"
              (click)="onPlayNow(testimonial)"
            >
              Play!
            </button>
          </div> -->

          
        </div>
        
      </ng-template>
    </owl-carousel-o>
  </div>
   <app-referal-cta></app-referal-cta>
</div>
