:host {
  display: block;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(44, 217, 125, 0.4);
  border-radius: 6px;

  &:hover {
    background: rgba(44, 217, 125, 0.7);
  }
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}