<div class="terms-container">
  <button class="agree-btn" (click)="CloseModal()">Back</button>
  <div class="terms-content">
    <h2><strong>Refund&Cancellation Policy</strong></h2>
    <div>
      <p>
        At Spin Hub, we strive to provide a transparent and fair gaming
        experience. Please read our Refund & Cancellation Policy carefully
        before making any deposits or using our services.
      </p>

      <h1><br />No Refund on Gameplay Deposits<br /></h1>
      <p>
        All deposits made to your account are final and non-refundable.
        <br />
        By depositing funds, you acknowledge that the funds will be used to
        participate in games of chance and skill, where outcomes are not
        guaranteed.
      </p>

      <h1>
        <br />
        Unauthorized Transactions<br />
      </h1>
      <p>
        If you believe an unauthorized transaction has occurred on your account,
        please contact us immediately at support&#64;spinclub.me.
        <br />
        We will investigate and take appropriate action. Refunds for
        unauthorized transactions may be issued only after verification and
        approval.
      </p>

      <h1><br />Cancellation of Services<br /></h1>
      <p>
        Since our service is digital and gameplay is initiated instantly,
        cancellations are not possible once a deposit is made.
        <br />
        You may choose not to participate in any games after depositing, but no
        refund will be issued.
      </p>

      <h1><br />Contact Us<br /></h1>
      <p>
        If you have any questions or concerns, please contact us at
        <a href="support@spinclub.com">support&#64;spinclub.me</a>.
        <br />
        or use the Contact Us form on our website.
      </p>
    </div>
  </div>
</div>