<div class="relative bg-[#000408] text-center px-6 overflow-hidden">

  <!-- RIGHT SIDE BACKGROUND IMAGE -->
  <img src="https://cmaxnewimages.pages.dev/assets/extra/shape.png" alt="casino" class="absolute
         left-1/2  -translate-x-1/2 -translate-y-1/2
         lg:left-auto lg:right-6 lg:translate-x-0    max-h-[180px] sm:max-h-[220px] lg:max-h-[350px]
         opacity-50 sm:opacity-30 lg:opacity-100
         pointer-events-none z-0 animate-float" />

  <!-- CONTENT (PERFECT CENTER) -->
  <div class="relative z-10 flex flex-col items-center justify-center min-h-[35vh] lg:min-h-[50vh]">
    <h2 class="text-white text-2xl md:text-3xl lg:text-4xl font-bold mb-6">
      Create your <span class="text-[#FE8912]">free account </span> today and begin your
      <br class="hidden md:block" />
      <span class="text-white">winning journey!</span>
    </h2>

    <div class="inline-block">
      <button (click)="RedirectToLogin()" type="submit" class="text-black font-semibold px-20 py-[0.5rem] shadow-md
        rounded-tl-[16px] rounded-tr-[3px] rounded-br-[16px] rounded-bl-[3px]
        bg-gradient-to-b from-[#FEC866] to-[#FE8006] transition">
        Play Game
      </button>
    </div>
  </div>
</div>