<app-loader></app-loader>

<div
  class="main-bg relative w-full h-screen min-h-[100vh] bg-[url('/bgLogin.jpg')] bg-cover bg-center bg-no-repeat overflow-y-auto lg:overflow-hidden"
>
  <div class="flex flex-col lg:flex-row lg:absolute lg:inset-0 min-h-screen">
    <div
      class="hidden lg:flex flex-1 flex-col justify-between bg-[#00040880]"
      style="clip-path: ellipse(85% 100% at 0% 50%)"
    >
      <!-- Logo -->
      <div
        class="hidden md:hidden lg:flex justify-start lg:mb-0 pt-4 lg:p-[1rem]"
      >
        <img
          src="https://cmaxv2images2.pages.dev/assets/logos/loginLogo.png"
          alt="Logo"
          class="w-[200px] h-[150px]"
          style="
            transform: scale(1.1);
            transform-origin: center;
            margin-left: 4rem;
          "
        />
      </div>
      <!-- Welcome Text -->
      <div
        class="mobile-welcome-text flex flex-col items-start text-left text-white max-w-xl mx-auto lg:mx-0 pl-[3rem] lg:flex"
      >
        <h1
          class="text-[24px] sm:text-[30px] md:text-[36px] lg:text-[42px] xl:text-[42px] 2xl:text-[42px] font-bold mb-4 leading-tight"
        >
          Lost your Access to Your
          <span class="text-[#F3A630]">CasinoMaxs?</span>
        </h1>

        <p
          class="text-white-300 text-[12px] sm:text-[14px] md:text-[15px] lg:text-[16px] xl:text-[16px] 2xl:text-[16px] leading-relaxed"
        >
          Reset it in seconds and get back to your CasinoMaxs account. Fast,
          secure, and simple  continue winning your cash rewards!
        </p>
      </div>

      <!-- Person Image -->
      <div class="hidden lg:flex justify-start items-end">
        <img
          src="https://cmaxv2images2.pages.dev/assets/avatars/loginCPL.png"
          alt="Person"
          class="w-auto h-[100px] sm:h-[300px] md:h-[350px] lg:h-[400px] xl:h-[470px]"
        />
      </div>
    </div>

    <!-- Mobile Header -->
    <div
      class="lg:hidden text-center text-white relative"
      style="clip-path: ellipse(59% 100% at 50% 25%)"
    >
      <img
        src="https://cmaxv2images2.pages.dev/assets/logos/loginLogo.png"
        class="w-[105px] relative left-6"
      />

      <!-- Back Button -->
      <div class="flex justify-start px-4">
        <fa-icon
          class="text-[#F3A630] w-5 h-5 inline"
          [icon]="leftArrow"
          (click)="goBack()"
        >
        </fa-icon>
      </div>
      <h1 class="text-lg font-semibold">
        Lost your Access to Your<br />
        <span class="text-[#F3A630]">CasinoMaxs?</span>
      </h1>

      <p class="text-xs text-gray-300 px-6 mt-2 leading-relaxed">
        Reset in seconds and get back to CasinoMaxs fast, secure, and ready to
        claim amazing prizes and exciting winnings.
      </p>

      <!-- Curved Overlay -->
      <div
        class="absolute top-0 left-0 w-full h-[50vh] bg-black opacity-80 rounded-b-[50%] -z-10"
      ></div>
    </div>

    <!-- RightDiv -->
    <div
      class="flex-1 flex items-center lg:items-center justify-center p-4 lg:p-8 lg:pr-16 pb-20 lg:pb-8"
    >
      <div
        id="formContainer"
        class="w-full max-w-sm sm:max-w-sm backdrop-blur-md border border-[#C3B089] rounded-tl-[16px] rounded-tr-[3px] rounded-br-[16px] rounded-bl-[3px] md:max-w-md 2xl:max-w-[30rem] mx-auto lg:mx-0 p-4 sm:p-5 md:p-6 lg:p-8 2xl:p-[3rem]"
      >
        <div class="grain-Backdrop" [innerHTML]="grainBackdrop"></div>
        <!-- Header -->
        <div class="my-6 lg:mb-4">
          <div
            class="flex items-center justify-center md:justify-start gap-2 mb-3 lg:mb-2"
          >
            <span class="text-[#F3A630] text-lg lg:text-[24px] font-semibold"
              >Forgot</span
            >
            <span class="text-white text-lg lg:text-[24px]">Password</span>
          </div>
          <p class="text-white text-xs lg:text-[1rem] mb-2 lg:mb-10 xl:mb-12">
            An email has been sent to your registered email address. Please
            check your inbox and follow the instructions to reset your password.
          </p>
        </div>

        <!-- Form -->
        <form
          [formGroup]="forgotPasswordForm"
          (ngSubmit)="onSubmit()"
          autocomplete="off"
        >
          <!-- Email Field -->
          <div class="mb-5">
            <div class="relative">
              <input
                id="email"
                type="email"
                formControlName="email"
                placeholder="Email"
                class="w-full text-white placeholder-white py-3 pr-14 focus:outline-none bg-inherit text-sm"
              />

              <span
                class="absolute right-10 top-1/2 text-white -translate-y-1/2"
                >|</span
              >

              <i
                class="fas fa-envelope text-white absolute right-3 top-1/2 -translate-y-1/2"
              ></i>
            </div>

            <!-- Gradient Bottom Border -->
            <div class="h-[1px] w-full bg-custom-gradient"></div>

            <!-- Validation Messages -->
            <div
              *ngIf="
                forgotPasswordForm.get('email')?.touched &&
                forgotPasswordForm.get('email')?.invalid
              "
              class="text-red-400 text-xs mt-1"
            >
              <span
                *ngIf="forgotPasswordForm.get('email')?.errors?.['required']"
              >
                Email is required.
              </span>
              <span *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">
                Please enter a valid email address.
              </span>
            </div>
          </div>

          <!-- Continue Button -->

          <button
            type="submit"
            [disabled]="forgotPasswordForm.invalid"
            [ngClass]="{
              'cursor-not-allowed': forgotPasswordForm.invalid,
              'cursor-pointer': !forgotPasswordForm.invalid,
            }"
            class="w-[398px] h-[54px] mt-[5rem] bg-gradient-to-b from-[#FEC866] to-[#FE8006] text-black px-[10px] py-[10px] font-semibold rounded-tl-[16px] rounded-tr-[3px] rounded-br-[16px] rounded-bl-[3px] gap-[10px] transition-transform duration-300 ease-in-out disabled:opacity-50 disabled:cursor-not-allowed hover:scale-105"
          >
            Continue
          </button>

          <p class="text-center text-xs mt-14 text-white">
            Don’t have an account?
            <a
              routerLink="/SignUp"
              class="text-[#F3A630] hover:text-white transition-colors ml-1 underline"
            >
              SignUp
            </a>
          </p>
        </form>
      </div>
    </div>
  </div>

  <!-- Bottom Character Image - Mobile Only -->
  <div
    class="lg:hidden w-fit flex justify-start items-end fixed bottom-0 left-0 right-0 pl-2"
  >
    <img
      src="https://cmaxv2images2.pages.dev/assets/avatars/loginCPL.png"
      alt="Character"
      class="w-[7rem] sm:w-[8rem] h-auto"
    />
  </div>
</div>
