:host {
  display: block;
  width: 100vw;
  overflow: hidden;
}

.bg-radial-glow {
  background: radial-gradient(circle at center, rgba(44, 217, 125, 0.3) 0%, rgba(35, 38, 38, 0.9) 75%);
}

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes sweep {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-spin-slow {
  animation: spinSlow 12s linear infinite;
}

.animate-sweep {
  animation: sweep 2s linear infinite;
}
