<div class="kyc-container min-h-screen p-5 lg:p-8">
  <div class="relative mb-6 pb-2">
    <div class="flex items-center justify-start gap-2">
      <button
        type="button"
        (click)="CloseModal()"
        aria-label="Go back"
        class="kyc-back-button flex items-center gap-2 cursor-pointer"
      >
        <svg
          class="w-6 h-6 relative z-10 text-[#F3A630]"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 19l-7-7 7-7"
          ></path>
        </svg>
      </button>
      <span class="text-white font-semibold">KYC Verification Form</span>
    </div>
    <div
      class="h-[2px] w-full absolute bottom-0 left-0 bg-custom-gradient"
    ></div>
  </div>
  <!-- Form Container -->
  <div
    class="max-w-8xl mx-auto backdrop-blur-xl rounded-tl-[16px] rounded-tr-[3px] rounded-br-[16px] rounded-bl-[3px] border border-[#C3B089] p-8 shadow-2xl"
  >
    <div class="grain-Backdrop" [innerHTML]="grainBackdrop"></div>
    <!-- Header -->
    <div class="mb-8 relative">
      <!-- Heading -->
      <div class="text-center">
        <h1
          class="text-4xl font-bold bg-gradient-to-r from-[#FE8912] to-[#e07f0f] bg-clip-text text-transparent mb-2"
        >
          KYC Verification Form
        </h1>
        <p class="text-white">
          Complete your identity verification to unlock full access
        </p>
      </div>

      <button
        *ngIf="isPending === 'Pending'"
        class="absolute right-0 top-1 inline-flex items-center gap-1 transition"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8 text-yellow-400"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v2m0 4h.01M12 3a9 9 0 110 18 9 9 0 010-18z"
          />
        </svg>

        <span class="text-xs font-medium text-yellow-200"
          >Verification in Progress</span
        >
      </button>
    </div>

    <form [formGroup]="kycForm" (ngSubmit)="onSubmit()">
      <!-- Section 1: Personal Information -->
      <div class="mb-8">
        <h2
          class="text-xl font-semibold text-white mb-6 flex items-center gap-2"
        >
          <span
            class="w-8 h-8 flex items-center justify-center bg-transparent border border-[#C3B089] rounded-full text-sm"
            >1</span
          >
          Personal Information
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <!-- Customer ID (Disabled) -->
          <!-- <div class="form-group">
            <label class="block text-sm font-medium text-gray-300 mb-2">Customer ID</label>
            <input type="text" formControlName="customerId" [disabled]="true"
              class="w-full px-4 py-3 bg-slate-700/50 border border-slate-600 rounded-lg text-gray-400 cursor-not-allowed" />
          </div> -->

          <!-- First Name -->
          <div class="form-group">
            <label class="block text-sm font-medium text-white mb-2">
              First Name <span class="text-red-400">*</span>
            </label>
            <input
              type="text"
              formControlName="firstName"
              placeholder="Enter first name"
              [class.error]="
                isFormSubmitted && f['firstName'].hasError('required')
              "
              class="w-full border-none outline-none ring-0 focus:outline-none focus:ring-0 focus-visible:outline-none focus-visible:ring-0 bg-transparent text-white px-4 py-2 placeholder-[#625E5E]"
            />
            <div
              class="h-[1px] w-full bottom-0 left-0 bg-custom-gradient"
            ></div>
            <span
              *ngIf="isFormSubmitted && f['firstName'].hasError('required')"
              class="text-red-400 text-sm mt-1"
            >
              First name is required
            </span>
            <span
              *ngIf="isFormSubmitted && f['firstName'].hasError('minlength')"
              class="text-red-400 text-sm mt-1"
            >
              Minimum 2 characters required
            </span>
          </div>

          <!-- Middle Name -->
          <div class="form-group">
            <label class="block text-sm font-medium text-white mb-2"
              >Middle Name</label
            >
            <input
              type="text"
              formControlName="middleName"
              placeholder="Enter middle name (optional)"
              class="w-full border-none outline-none ring-0 focus:outline-none focus:ring-0 focus-visible:outline-none focus-visible:ring-0 bg-transparent text-white px-4 py-2 placeholder-[#625E5E]"
            />
            <div
              class="h-[1px] w-full bottom-0 left-0 bg-custom-gradient"
            ></div>
          </div>

          <!-- Last Name -->
          <div class="form-group">
            <label class="block text-sm font-medium text-white mb-2">
              Last Name <span class="text-red-400">*</span>
            </label>
            <input
              type="text"
              formControlName="lastName"
              placeholder="Enter last name"
              [class.error]="
                isFormSubmitted && f['lastName'].hasError('required')
              "
              class="w-full border-none outline-none ring-0 focus:outline-none focus:ring-0 focus-visible:outline-none focus-visible:ring-0 bg-transparent text-white px-4 py-2 placeholder-[#625E5E]"
            />
            <div
              class="h-[1px] w-full bottom-0 left-0 bg-custom-gradient"
            ></div>
            <span
              *ngIf="isFormSubmitted && f['lastName'].hasError('required')"
              class="text-red-400 text-sm mt-1"
            >
              Last name is required
            </span>
          </div>

          <!-- Date of Birth -->
          <div class="form-group relative">
            <label class="block text-sm font-medium text-white mb-2">
              Date of Birth <span class="text-red-400">*</span>
            </label>
            <div class="date-picker-field relative">
              <input
                type="date"
                formControlName="dateOfBirth"
                [min]="minDate"
                [max]="maxDate"
                [class.error]="isFormSubmitted && f['dateOfBirth'].invalid"
                class="date-input w-full border-none outline-none bg-transparent text-white px-4 py-2"
                [class.filled]="f['dateOfBirth'].value"
              />
              <svg
                class="date-picker-icon absolute right-3 top-1/2 -translate-y-1/2 w-5 h-5 pointer-events-none"
                fill="currentColor"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  d="M7 2a1 1 0 0 1 1 1v1h8V3a1 1 0 1 1 2 0v1h1.5A2.5 2.5 0 0 1 22 6.5v13A2.5 2.5 0 0 1 19.5 22h-15A2.5 2.5 0 0 1 2 19.5v-13A2.5 2.5 0 0 1 4.5 4H6V3a1 1 0 0 1 1-1Zm12.5 8h-15v9.5c0 .28.22.5.5.5h14c.28 0 .5-.22.5-.5V10Z"
                />
              </svg>
            </div>
            <div
              class="h-[1px] w-full bottom-0 left-0 bg-custom-gradient"
            ></div>

            <span
              *ngIf="isFormSubmitted && f['dateOfBirth'].hasError('required')"
              class="text-red-400 text-sm mt-1"
            >
              Date of birth is required
            </span>
            <span
              *ngIf="isFormSubmitted && f['dateOfBirth'].hasError('underage')"
              class="text-red-400 text-sm mt-1"
            >
              You must be at least 18 years old
            </span>
          </div>

          <!-- Nationality -->
          <div class="form-group">
            <label class="block text-sm font-medium text-white mb-2">
              Nationality <span class="text-red-400">*</span>
            </label>
            <input
              type="text"
              formControlName="nationality"
              placeholder="Enter nationality"
              [class.error]="
                isFormSubmitted && f['nationality'].hasError('required')
              "
              class="w-full border-none outline-none ring-0 focus:outline-none focus:ring-0 focus-visible:outline-none focus-visible:ring-0 bg-transparent text-white px-4 py-2 placeholder-[#625E5E]"
            />
            <div
              class="h-[1px] w-full bottom-0 left-0 bg-custom-gradient"
            ></div>
            <span
              *ngIf="isFormSubmitted && f['nationality'].hasError('required')"
              class="text-red-400 text-sm mt-1"
            >
              Nationality is required
            </span>
          </div>
        </div>
      </div>

      <!-- Section 2: Address Information -->
      <div class="mb-8">
        <h2
          class="text-xl font-semibold text-white mb-6 flex items-center gap-2"
        >
          <span
            class="w-8 h-8 flex items-center justify-center bg-transparent border border-[#C3B089] rounded-full text-sm"
            >2</span
          >
          Address Information
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <!-- Country -->
          <div class="form-group">
            <label class="block text-sm font-medium text-white mb-2">
              Country <span class="text-red-400">*</span>
            </label>
            <input
              type="text"
              formControlName="country"
              placeholder="Enter country"
              [class.error]="
                isFormSubmitted && f['country'].hasError('required')
              "
              class="w-full border-none outline-none ring-0 focus:outline-none focus:ring-0 focus-visible:outline-none focus-visible:ring-0 bg-transparent text-white px-4 py-2 placeholder-[#625E5E]"
            />
            <div
              class="h-[1px] w-full bottom-0 left-0 bg-custom-gradient"
            ></div>
            <span
              *ngIf="isFormSubmitted && f['country'].hasError('required')"
              class="text-red-400 text-sm mt-1"
            >
              Country is required
            </span>
          </div>

          <!-- State -->
          <div class="form-group">
            <label class="block text-sm font-medium text-white mb-2">
              State/Province <span class="text-red-400">*</span>
            </label>
            <input
              type="text"
              formControlName="state"
              placeholder="Enter state"
              [class.error]="isFormSubmitted && f['state'].hasError('required')"
              class="w-full border-none outline-none ring-0 focus:outline-none focus:ring-0 focus-visible:outline-none focus-visible:ring-0 bg-transparent text-white px-4 py-2 placeholder-[#625E5E]"
            />
            <div
              class="h-[1px] w-full bottom-0 left-0 bg-custom-gradient"
            ></div>
            <span
              *ngIf="isFormSubmitted && f['state'].hasError('required')"
              class="text-red-400 text-sm mt-1"
            >
              State is required
            </span>
          </div>

          <!-- City -->
          <div class="form-group">
            <label class="block text-sm font-medium text-white mb-2">
              City <span class="text-red-400">*</span>
            </label>
            <input
              type="text"
              formControlName="city"
              placeholder="Enter city"
              [class.error]="isFormSubmitted && f['city'].hasError('required')"
              class="w-full border-none outline-none ring-0 focus:outline-none focus:ring-0 focus-visible:outline-none focus-visible:ring-0 bg-transparent text-white px-4 py-2 placeholder-[#625E5E]"
            />
            <div
              class="h-[1px] w-full bottom-0 left-0 bg-custom-gradient"
            ></div>
            <span
              *ngIf="isFormSubmitted && f['city'].hasError('required')"
              class="text-red-400 text-sm mt-1"
            >
              City is required
            </span>
          </div>

          <!-- ZIP Code -->
          <div class="form-group">
            <label class="block text-sm font-medium text-white mb-2">
              ZIP Code <span class="text-red-400">*</span>
            </label>
            <input
              type="text"
              formControlName="zipcode"
              placeholder="Enter ZIP code"
              [class.error]="isFormSubmitted && f['zipcode'].invalid"
              class="w-full border-none outline-none ring-0 focus:outline-none focus:ring-0 focus-visible:outline-none focus-visible:ring-0 bg-transparent text-white px-4 py-2 placeholder-[#625E5E]"
            />
            <div
              class="h-[1px] w-full bottom-0 left-0 bg-custom-gradient"
            ></div>
            <span
              *ngIf="isFormSubmitted && f['zipcode'].hasError('required')"
              class="text-red-400 text-sm mt-1"
            >
              ZIP code is required
            </span>
            <span
              *ngIf="isFormSubmitted && f['zipcode'].hasError('pattern')"
              class="text-red-400 text-sm mt-1"
            >
              ZIP code must be 4-10 digits
            </span>
          </div>

          <!-- Address -->
          <div class="form-group md:col-span-2">
            <label class="block text-sm font-medium text-white mb-2">
              Address <span class="text-red-400">*</span>
            </label>
            <textarea
              formControlName="address"
              placeholder="Enter street address"
              rows="2"
              [class.error]="
                isFormSubmitted && f['address'].hasError('required')
              "
              class="w-full border-none outline-none ring-0 focus:outline-none focus:ring-0 focus-visible:outline-none focus-visible:ring-0 bg-transparent text-white px-4 py-2 placeholder-[#625E5E] resize-none"
            ></textarea>
            <div
              class="h-[1px] w-full bottom-0 left-0 bg-custom-gradient"
            ></div>
            <span
              *ngIf="isFormSubmitted && f['address'].hasError('required')"
              class="text-red-400 text-sm mt-1"
            >
              Address is required
            </span>
          </div>
        </div>
      </div>

      <!-- Section 3: Document Information -->
      <div class="mb-8">
        <h2
          class="text-xl font-semibold text-white mb-6 flex items-center gap-2"
        >
          <span
            class="w-8 h-8 flex items-center justify-center bg-transparent border border-[#C3B089] rounded-full text-sm"
            >3</span
          >
          Document Information
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <!-- SSIN -->
          <div class="form-group">
            <label class="block text-sm font-medium text-white mb-2">
              SSN <span class="text-red-400">*</span>
            </label>
            <input
              type="text"
              formControlName="ssin"
              placeholder="Enter SSN"
              (input)="allowOnlyNumbers($event)"
              [maxlength]="15"
              [class.error]="isFormSubmitted && f['ssin'].invalid"
              class="w-full border-none outline-none ring-0 focus:outline-none focus:ring-0 focus-visible:outline-none focus-visible:ring-0 bg-transparent text-white px-4 py-2 placeholder-[#625E5E]"
            />
            <div
              class="h-[1px] w-full bottom-0 left-0 bg-custom-gradient"
            ></div>
            <span
              *ngIf="isFormSubmitted && f['ssin'].hasError('required')"
              class="text-red-400 text-sm mt-1"
            >
              SSIN is required
            </span>
            <span
              *ngIf="isFormSubmitted && f['ssin'].hasError('pattern')"
              class="text-red-400 text-sm mt-1"
            >
              SSIN must be 9-15 digits
            </span>
          </div>

          <!-- Document Type -->
          <div class="form-group">
            <label class="block text-sm font-medium text-white mb-2">
              Document Type <span class="text-red-400">*</span>
            </label>
            <div class="relative">
              <div
                (click)="toggleDocTypeDropdown()"
                class="w-full px-4 py-2 bg-transparent cursor-pointer flex items-center justify-between border-none outline-none select-input"
                [class.filled]="f['documentType'].value"
                [class.error]="
                  isFormSubmitted && f['documentType'].hasError('required')
                "
              >
                <span
                  [class.text-[#625E5E]]="!f['documentType'].value"
                  [class.text-white]="f['documentType'].value"
                >
                  {{
                    f["documentType"].value
                      ? getDocumentLabel(f["documentType"].value)
                      : "Select document type"
                  }}
                </span>

                <!-- Arrow -->
                <svg
                  class="h-4 w-4 ml-2 text-[#F3A630]"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"
                  />
                </svg>
              </div>

              <!-- Dropdown -->
              <ul
                *ngIf="documentTypeDropdownOpen"
                class="absolute mt-1 w-full max-h-48 overflow-y-auto bg-[#161819] border border-[#C3B089] shadow-lg rounded-md z-20"
              >
                <li
                  *ngFor="let type of documentTypes"
                  class="px-4 py-2 !text-white font-semibold border-b border-[#C3B089] cursor-pointer hover:bg-[#2e2a2a]"
                  (click)="selectDocumentType(type)"
                >
                  {{ type.label }}
                </li>
              </ul>
            </div>

            <div
              class="h-[1px] w-full bottom-0 left-0 bg-custom-gradient"
            ></div>
            <span
              *ngIf="isFormSubmitted && f['documentType'].hasError('required')"
              class="text-red-400 text-sm mt-1"
            >
              Document type is required
            </span>
          </div>

          <!-- Document Expiry Date -->
          <div class="form-group">
            <label class="block text-sm font-medium text-white mb-2">
              Document Expiry Date <span class="text-red-400">*</span>
            </label>
            <div class="date-picker-field relative">
              <input
                type="date"
                formControlName="documentExpiryDate"
                [class.error]="
                  isFormSubmitted && f['documentExpiryDate'].invalid
                "
                class="date-input w-full border-none outline-none bg-transparent text-white px-4 py-2"
                [class.filled]="f['documentExpiryDate'].value"
              />
              <svg
                class="date-picker-icon absolute right-3 top-1/2 -translate-y-1/2 w-5 h-5 text-[#FE8912] pointer-events-none"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M7 2a1 1 0 0 1 1 1v1h8V3a1 1 0 1 1 2 0v1h1.5A2.5 2.5 0 0 1 22 6.5v13A2.5 2.5 0 0 1 19.5 22h-15A2.5 2.5 0 0 1 2 19.5v-13A2.5 2.5 0 0 1 4.5 4H6V3a1 1 0 0 1 1-1Zm12.5 8h-15v9.5c0 .28.22.5.5.5h14c.28 0 .5-.22.5-.5V10Z"
                />
              </svg>
            </div>
            <div
              class="h-[1px] w-full bottom-0 left-0 bg-custom-gradient"
            ></div>
            <span
              *ngIf="
                isFormSubmitted && f['documentExpiryDate'].hasError('required')
              "
              class="text-red-400 text-sm mt-1"
            >
              Expiry date is required
            </span>
            <span
              *ngIf="
                isFormSubmitted && f['documentExpiryDate'].hasError('expired')
              "
              class="text-red-400 text-sm mt-1"
            >
              Document is expired
            </span>
          </div>
        </div>
      </div>

      <!-- Section 4: Document Images -->
      <div class="mb-8">
        <h2
          class="text-xl font-semibold text-white mb-6 flex items-center gap-2"
        >
          <span
            class="w-8 h-8 flex items-center justify-center bg-transparent border border-[#C3B089] rounded-full text-sm"
            >4</span
          >
          Document Images
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <!-- Document Front Image -->
          <div class="form-group">
            <label class="block text-sm font-medium text-white mb-2">
              Document Front <span class="text-red-400">*</span>
            </label>
            <div class="space-y-3">
              <div class="relative">
                <input
                  type="file"
                  #documentFrontInput
                  accept="image/*"
                  (change)="onDocumentFrontImageSelected($event)"
                  hidden
                />
                <button
                  type="button"
                  (click)="documentFrontInput.click()"
                  class="buttone w-full px-4 py-3 bg-[#ba8f616e] border-2 border-dashed border-[#FE8912] text-[#FE8912] hover:bg-[#c58d50aa] rounded-tl-[16px] rounded-tr-[3px] rounded-br-[16px] rounded-bl-[3px] transition flex items-center justify-center gap-2"
                >
                  <svg
                    class="w-5 h-5"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 4v16m8-8H4"
                    ></path>
                  </svg>
                  Upload Front Image
                </button>
              </div>
              <div *ngIf="documentFrontImagePreview" class="relative">
                <img
                  [src]="documentFrontImagePreview"
                  alt="Document Front Preview"
                  class="w-full h-48 object-cover rounded-lg"
                />
                <button
                  type="button"
                  (click)="removeDocumentFrontImage()"
                  class="Cancel-btn absolute top-2 right-2 bg-red-500/80 hover:bg-red-600 p-2 rounded-full transition"
                >
                  <svg
                    class="w-5 h-5"
                    fill="none"
                    stroke="white"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M6 18L18 6M6 6l12 12"></path>
                  </svg>
                </button>
              </div>
              <span
                *ngIf="
                  isFormSubmitted &&
                  f['documentFrontImage'].hasError('required')
                "
                class="text-red-400 text-sm"
              >
                Document front image is required
              </span>
            </div>
          </div>

          <!-- Document Back Image -->
          <div class="form-group">
            <label class="block text-sm font-medium text-white mb-2">
              Document Back <span class="text-red-400">*</span>
            </label>
            <div class="space-y-3">
              <div class="relative">
                <input
                  type="file"
                  #documentBackInput
                  accept="image/*"
                  (change)="onDocumentBackImageSelected($event)"
                  hidden
                />
                <button
                  type="button"
                  (click)="documentBackInput.click()"
                  class="buttone w-full px-4 py-3 bg-[#ba8f616e] border-2 border-dashed border-[#FE8912] text-[#FE8912] hover:bg-[#c58d50aa] rounded-tl-[16px] rounded-tr-[3px] rounded-br-[16px] rounded-bl-[3px] transition flex items-center justify-center gap-2"
                >
                  <svg
                    class="w-5 h-5"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 4v16m8-8H4"
                    ></path>
                  </svg>
                  Upload Back Image
                </button>
              </div>
              <div *ngIf="documentBackImagePreview" class="relative">
                <img
                  [src]="documentBackImagePreview"
                  alt="Document Back Preview"
                  class="w-full h-48 object-cover rounded-lg"
                />
                <button
                  type="button"
                  (click)="removeDocumentBackImage()"
                  class="Cancel-btn absolute top-2 right-2 bg-red-500/80 hover:bg-red-600 p-2 rounded-full transition"
                >
                  <svg
                    class="w-5 h-5"
                    fill="none"
                    stroke="white"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M6 18L18 6M6 6l12 12"></path>
                  </svg>
                </button>
              </div>
              <span
                *ngIf="
                  isFormSubmitted && f['documentBackImage'].hasError('required')
                "
                class="text-red-400 text-sm"
              >
                Document back image is required
              </span>
            </div>
          </div>

          <!-- Selfie Image -->
          <div class="form-group">
            <label class="block text-sm font-medium text-white mb-2">
              Selfie <span class="text-red-400">*</span>
            </label>
            <div class="space-y-3">
              <div class="relative">
                <input
                  type="file"
                  #selfieInput
                  accept="image/*"
                  (change)="onSelfieImageSelected($event)"
                  hidden
                />
                <button
                  type="button"
                  (click)="selfieInput.click()"
                  class="buttone w-full px-6 py-3 bg-[#ba8f616e] border-2 border-dashed border-[#FE8912] text-[#FE8912] hover:bg-[#c58d50aa] rounded-tl-[16px] rounded-tr-[3px] rounded-br-[16px] rounded-bl-[3px] transition flex items-center justify-center gap-2"
                >
                  <svg
                    class="w-5 h-5"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 4v16m8-8H4"
                    ></path>
                  </svg>
                  Upload Selfie
                </button>
              </div>
              <div *ngIf="selfieImagePreview" class="relative">
                <img
                  [src]="selfieImagePreview"
                  alt="Selfie Preview"
                  class="w-full h-48 object-cover rounded-lg"
                />
                <button
                  type="button"
                  (click)="removeSelfieImage()"
                  class="Cancel-btn absolute top-2 right-2 bg-red-500/80 hover:bg-red-600 p-2 rounded-full transition"
                >
                  <svg
                    class="w-5 h-5"
                    fill="none"
                    stroke="white"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M6 18L18 6M6 6l12 12"></path>
                  </svg>
                </button>
              </div>
              <span
                *ngIf="isFormSubmitted && f['selfieImage'].hasError('required')"
                class="text-red-400 text-sm"
              >
                Selfie is required
              </span>
            </div>
          </div>

          <!-- Additional Note -->
          <!-- <div class="form-group">
            <label class="block text-sm font-medium text-gray-300 mb-2">Additional Notes</label>
            <textarea formControlName="reason" placeholder="Enter any additional information (optional)" rows="4"
              class="w-full px-4 py-3 bg-slate-700/50 border border-slate-600 rounded-lg text-white placeholder-gray-500 focus:border-cyan-400 focus:outline-none transition resize-none"></textarea>
          </div> -->
        </div>
      </div>

      <!-- Submit Buttons -->
      <div class="flex gap-4 justify-center md:justify-end">
        <button
          type="button"
          (click)="CloseModal()"
          class="btn-outline transition"
        >
          Cancel
        </button>

        <button
          type="submit"
          [disabled]="isPending === 'Pending'"
          class="btn-primary transition disabled:opacity-50 disabled:cursor-not-allowed"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>

<!-- KYC Popup -->
<app-kyc-popup
  *ngIf="showKycPopup"
  [title]="popupTitle"
  [message]="popupMessage"
  [buttonText]="popupButtonText"
  [redirectRoute]="popupRedirect"
  (close)="closeKycPopup()"
>
</app-kyc-popup>
