:host {
  display: block;
  min-height: 100vh;
  background: #232626;
}

.terms-page {
  background: #232626;
}

@media print {
  body, .terms-page {
    background: #ffffff !important;
    color: #000000 !important;
  }

  button, input {
    display: none !important;
  }
}
