<!-- <section class="text-[var(--text)] body-font md:py-16 md:px-7">
   <owl-carousel-o [options]="customOptions">
     <ng-container >
       <ng-template *ngFor="let slide of slides; trackBy: trackById" carouselSlide>
         <div class="mx-auto flex pt-16 px-3 items-center justify-center flex-col gap-7">
           <div class="w-[28rem]">
             <img class="lg:w-2/6 md:w-3/6 w-5/6 object-cover object-center rounded"
                  [alt]="slide.heading"
                  [src]="slide.src">
           </div>
           <h1 class="text-center title-font sm:text-4xl text-5xl mb-4 font-medium">
             {{slide.heading}}
           </h1>
           <p class="text-center mb-8 leading-relaxed">{{slide.content}}</p>
         </div>
       </ng-template>
     </ng-container>
   </owl-carousel-o>
 </section> -->
