<section class="bg-[#03090F] text-[#D0D0D0] py-16 px-5 relative overflow-hidden">
  <div class="max-w-[1500px] mx-auto text-center relative z-10 mb-10">
    <h4 class="text-center lg:text-start lg:ml-[77px] text-[#A259FF] text-[1.2rem] font-semibold mb-2">
      How it work
    </h4>
    <h2 class="text-center lg:text-start lg:ml-[77px] text-white text-[2.5rem] font-bold text-3xl">
      Easiest Way To Picking a Number
    </h2>
    <p class="text-center lg:ml-[68px]  text-[1rem] max-w-[700px] mt-4 mb-12 mx-auto lg:mx-0 text-[#9196A5]">
      Choosing your lucky number has never been this simple. With our
      user-friendly interface, you can pick a number in seconds no confusing
      steps or tricky rules. Just tap, select, and get ready to win!
    </p>
    <div class="relative h-auto lg:h-[400px] lg:ml-[100px]">
      <img src="/Images/Vector.png" alt="How it works"
        class="hidden lg:block w-[1050px] h-[400px] absolute top-[-40px] left-0 ml-[20px] z-0" />
      <!-- Cards -->
      <div class="relative w-full flex flex-col lg:flex-row justify-between gap-10 px-4 pt-10 z-10">
        <!-- Card 1 -->
        <div
          class="flex-1 min-w-[250px] text-center relative mt-16 md:mt-[14rem] lg:mt-[6rem] md:ml-[1rem] lg:ml-[-18rem] ">
          <div class="relative w-fit mx-auto flex flex-col items-center">
            <div class="text-white font-bold text-[5rem] lg:text-8xl z-10 order-1">
              1
            </div>
            <img src="/Images/howitwork-1.png" alt="Choose Lottery"
              class="w-[100px] lg:w-[70px] mb-2 lg:mb-0 order-2" />
          </div>
          <h3 class="text-white text-[1.25rem] mt-4">
            Choose Your <span class="text-[#A259FF]">Lottery</span>
          </h3>
          <p class="text-[0.95rem] mt-2 leading-relaxed text-[#9196A5]">
            Pick from our five thrilling jackpot <br />
            draws, including popular games like <br />Powerball. Try one or go
            all in!
          </p>
        </div>
        <!-- Card 2 -->
        <div class="flex-1 min-w-[250px] text-center relative mt-20 lg:mt-[0] lg:ml-[-20rem] ">
          <div class="relative w-fit mx-auto flex flex-col items-center">
            <div class="text-white font-bold text-[5rem] lg:text-8xl z-10 order-1">
              2
            </div>
            <img src="/Images/howitwork-2.png" alt="Pick Numbers" class="w-[100px] lg:w-[70px] mb-2 lg:mb-0 order-2" />
          </div>
          <h3 class="text-white text-[1.25rem] mt-4">
            Pick Your <span class="text-[#A259FF]">Numbers</span>
          </h3>
          <p class="text-[0.95rem] mt-2 leading-relaxed text-[#9196A5]">
            It’s all about luck! Choose <br />your lucky digits manually or let
            <br />the system auto-generate for you. <br />Either way, you’re in!
          </p>
        </div>
        <!-- Card 3 -->
        <div class="flex-1 min-w-[250px] text-center relative mt-20 lg:mt-[-13rem] lg:ml-[-20rem] ">
          <div class="relative w-fit mx-auto flex flex-col items-center">
            <div class="text-white font-bold text-[5rem] lg:text-8xl z-10 order-1">
              3
            </div>
            <img src="/Images/howitwork-3.png" alt="Check Numbers" class="w-[100px] lg:w-[70px] mb-2 lg:mb-0 order-2" />
          </div>
          <h3 class="text-white text-[1.25rem] mt-4">
            Check Your <span class="text-[#A259FF]">Numbers</span>
          </h3>
          <p class="text-[0.95rem] mt-2 leading-relaxed text-[#9196A5]">
            Once results are out, check if <br />
            you’ve won. Don’t forget: prizes <br />
            must be claimed within 12 months!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>