<div
  class="main-bg relative w-full min-h-[100vh] overflow-y-auto lg:overflow-hidden bg-cover bg-center"
>
  <!-- Main Content Overlay -->
  <div class="flex flex-col lg:flex-row lg:absolute lg:inset-0 min-h-screen">
    <!-- Left Side Text -->
    <div
      class="hidden lg:flex flex-1 flex-col justify-between bg-[#00040880]"
      style="clip-path: ellipse(85% 100% at 0% 50%)"
    >
      <!-- Logo -->
      <div
        class="hidden md:hidden lg:flex justify-start lg:mb-0 pt-4 lg:p-[1rem]"
      >
        <img
          src="https://spinhub-6rb.pages.dev/assets/logo.png"
          alt="Logo"
          class="w-[200px] h-[150px]"
          style="
            transform: scale(1.1);
            transform-origin: center;
            margin-left: 4rem;
          "
        />
      </div>
      <!-- Welcome Text -->
      <div
        class="mobile-welcome-text flex flex-col items-start text-left text-white max-w-lg mx-auto lg:mx-0 pl-[3rem] lg:flex"
      >
        <h1
          class="text-[24px] sm:text-[30px] md:text-[36px] lg:text-[42px] xl:text-[42px] 2xl:text-[42px] font-bold mb-4 leading-tight"
        >
          Stay Secure.
          <span class="text-[#F3A630]">Keep Winning</span>
        </h1>

        <p
          class="text-white-300 text-[12px] sm:text-[14px] md:text-[15px] lg:text-[16px] xl:text-[16px] 2xl:text-[16px] leading-relaxed"
        >
          Update your password and get back to the action. Protect your account
          while you enjoy cash rewards.
        </p>
      </div>

      <!-- Person Image -->
      <!-- Person Image -->
      <!-- <div class="hidden lg:flex justify-start items-end">
        <img src="https://cmaxv2images2.pages.dev/assets/avatars/loginCPL.png" alt="Person"
          class="w-auto h-[70px] sm:h-[160px] md:h-[200px] lg:h-[250px] xl:h-[349px]" />
      </div> -->
    </div>

    <!-- Mobile Header -->
    <div
      class="lg:hidden text-center text-white relative"
      style="clip-path: ellipse(59% 100% at 50% 25%)"
    >
      <img
        src="https://spinhub-6rb.pages.dev/assets/logo.png"
        class="w-[105px] relative left-6"
      />

      <h1 class="text-lg font-semibold">
        Stay Secure. <span class="text-[#F3A630]">Keep Winning.</span>
      </h1>

      <p class="text-xs text-gray-300 px-6 mt-2 leading-relaxed">
        Update your password and get back to the action. Protect your account
        while you enjoy cash rewards.
      </p>

      <!-- Curved Overlay -->
      <div
        class="absolute top-0 left-0 w-full h-[50vh] bg-black opacity-80 rounded-b-[50%] -z-10"
      ></div>
    </div>

    <div
      class="flex-1 flex items-center justify-center px-4 pb-10 lg:p-8 lg:pr-16"
    >
      <!-- Change Password Form Card -->
      <div
        class="flex flex-col justify-center backdrop-blur-md items-center border border-[#F3A630] rounded-lg p-6 sm:p-8 lg:p-10 w-[95%] sm:w-[360px] md:w-[420px] lg:w-[480px] xl:w-[520px]"
      >
        <div class="grain-Backdrop" [innerHTML]="grainBackdrop"></div>
        <!-- Heading -->

        <div class="my-6 lg:mb-4">
          <div
            class="flex items-center justify-center md:justify-start gap-2 mb-3 lg:mb-2"
          >
            <span class="text-[#F3A630] text-lg lg:text-[24px] font-semibold">
              Set</span
            >
            <span class="text-white text-lg lg:text-[24px] font-semibold"
              >Your Password</span
            >
          </div>
          <p
            class="text-white text-center md:text-start text-xs lg:text-[1rem] mb-2 lg:mb-10 xl:mb-12"
          >
            To keep your account secure, please create a strong password.
          </p>
        </div>

        <form
          [formGroup]="changePasswordForm"
          (ngSubmit)="onSubmit()"
          autocomplete="off"
          class="w-full"
        >
          <!-- Old Password -->
          <div class="mb-5">
            <div class="relative mt-1">
              <input
                [type]="passwordVisibility['oldPassword'] ? 'text' : 'password'"
                formControlName="oldPassword"
                placeholder="Current Password"
                class="w-full bg-transparent py-2 text-white outline-none pl-2 pr-16 placeholder-white"
              />

              <!-- Eye Icon (Exactly touching the underline border) -->
              <i
                class="fa absolute inset-y-0 top-[14px] right-16 cursor-pointer text-[#F3A630] hover:text-white transition"
                [ngClass]="
                  passwordVisibility['oldPassword'] ? 'fa-eye' : 'fa-eye-slash'
                "
                (click)="toggleVisibility('oldPassword')"
              ></i>

              <!-- Divider Line -->
              <span class="absolute right-10 top-[14px] text-white-400">|</span>

              <!-- Lock Icon (Right Side) -->
              <!-- Lock SVG -->
              <div class="absolute right-2 top-[14px]">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14.6668 14.6667H13.3335V13.3334H14.6668V14.6667Z"
                    fill="#F3A630"
                  />
                  <path
                    d="M10.6665 14.6667H11.9998V13.3334H10.6665V14.6667Z"
                    fill="#F3A630"
                  />
                  <path
                    d="M17.3333 14.6667H16V13.3334H17.3333V14.6667Z"
                    fill="#F3A630"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M4 8V4.66667C4 2.08933 6.08933 0 8.66667 0C11.244 0
      13.3333 2.08933 13.3333 4.66667V8H15.3333C16.4379 8
      17.3333 8.89543 17.3333 10V10.7333C18.8548 11.0422 20
      12.3874 20 14C20 15.6127 18.8548 16.9579 17.3333
      17.2667V18C17.3333 19.1045 16.4379 20 15.3333 20H2C0.895431
      20 0 19.1045 0 18V10C0 8.89543 0.895431 8 2 8H4ZM5.33333
      4.66667C5.33333 2.82572 6.82572 1.33333 8.66667
      1.33333C10.5076 1.33333 12 2.82572 12 4.66667V8H5.33333V4.66667ZM11.3333
      12C10.2288 12 9.33333 12.8954 9.33333 14C9.33333 15.1045 10.2288 16
      11.3333 16H16.6667C17.7712 16 18.6667 15.1045 18.6667
      14C18.6667 12.8954 17.7712 12 16.6667 12H11.3333Z"
                    fill="#F3A630"
                  />
                </svg>
              </div>
            </div>

            <!-- Gradient Bottom Border -->
            <div class="h-[1px] w-full bg-custom-gradient"></div>

            <p
              *ngIf="
                changePasswordForm.get('oldPassword')?.invalid &&
                changePasswordForm.get('oldPassword')?.touched
              "
              class="text-red-400 text-xs mt-1"
            >
              Old password is required.
            </p>
          </div>

          <!-- New Password -->
          <div class="mb-5">
            <div class="relative">
              <input
                [type]="passwordVisibility['newPassword'] ? 'text' : 'password'"
                id="newPassword"
                formControlName="newPassword"
                placeholder="Enter new password"
                class="w-full bg-transparent py-2 text-white outline-none pl-2 pr-16 placeholder-white"
              />

              <!-- Eye Icon (Exactly touching the underline) -->
              <i
                class="fa absolute top-[14px] right-16 cursor-pointer text-[#F3A630] hover:text-white transition"
                [ngClass]="
                  passwordVisibility['newPassword'] ? 'fa-eye' : 'fa-eye-slash'
                "
                (click)="toggleVisibility('newPassword')"
              ></i>

              <!-- Divider Line -->
              <span class="absolute right-10 top-[14px] text-white-400">|</span>

              <!-- Lock Icon (Right Side) -->
              <!-- Lock SVG -->
              <div class="absolute right-2 top-[14px]">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14.6668 14.6667H13.3335V13.3334H14.6668V14.6667Z"
                    fill="#F3A630"
                  />
                  <path
                    d="M10.6665 14.6667H11.9998V13.3334H10.6665V14.6667Z"
                    fill="#F3A630"
                  />
                  <path
                    d="M17.3333 14.6667H16V13.3334H17.3333V14.6667Z"
                    fill="#F3A630"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M4 8V4.66667C4 2.08933 6.08933 0 8.66667 0C11.244 0
      13.3333 2.08933 13.3333 4.66667V8H15.3333C16.4379 8
      17.3333 8.89543 17.3333 10V10.7333C18.8548 11.0422 20
      12.3874 20 14C20 15.6127 18.8548 16.9579 17.3333
      17.2667V18C17.3333 19.1045 16.4379 20 15.3333 20H2C0.895431
      20 0 19.1045 0 18V10C0 8.89543 0.895431 8 2 8H4ZM5.33333
      4.66667C5.33333 2.82572 6.82572 1.33333 8.66667
      1.33333C10.5076 1.33333 12 2.82572 12 4.66667V8H5.33333V4.66667ZM11.3333
      12C10.2288 12 9.33333 12.8954 9.33333 14C9.33333 15.1045 10.2288 16
      11.3333 16H16.6667C17.7712 16 18.6667 15.1045 18.6667
      14C18.6667 12.8954 17.7712 12 16.6667 12H11.3333Z"
                    fill="#F3A630"
                  />
                </svg>
              </div>
            </div>
            <!-- Gradient Bottom Border -->
            <div class="h-[1px] w-full bg-custom-gradient"></div>

            <p
              *ngIf="
                changePasswordForm.get('newPassword')?.invalid &&
                changePasswordForm.get('newPassword')?.touched
              "
              class="text-red-400 text-xs mt-1"
            >
              New password is required.
            </p>
          </div>

          <!-- Confirm Password -->
          <div class="mb-5">
            <div class="relative">
              <input
                [type]="
                  passwordVisibility['confirmPassword'] ? 'text' : 'password'
                "
                id="confirmPassword"
                formControlName="confirmPassword"
                placeholder="Confirm new password"
                class="w-full bg-transparent py-2 text-white outline-none pl-2 pr-16 placeholder-white"
              />

              <!-- Eye Icon (Exactly touching the underline) -->
              <i
                class="fa absolute top-[14px] right-16 cursor-pointer text-[#F3A630] hover:text-white transition"
                [ngClass]="
                  passwordVisibility['confirmPassword']
                    ? 'fa-eye'
                    : 'fa-eye-slash'
                "
                (click)="toggleVisibility('confirmPassword')"
              ></i>

              <!-- Divider Line -->
              <span class="absolute right-10 top-[14px] text-white-400">|</span>

              <!-- Lock Icon (Right Side) -->
              <div class="absolute right-2 top-[14px]">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14.6668 14.6667H13.3335V13.3334H14.6668V14.6667Z"
                    fill="#F3A630"
                  />
                  <path
                    d="M10.6665 14.6667H11.9998V13.3334H10.6665V14.6667Z"
                    fill="#F3A630"
                  />
                  <path
                    d="M17.3333 14.6667H16V13.3334H17.3333V14.6667Z"
                    fill="#F3A630"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M4 8V4.66667C4 2.08933 6.08933 0 8.66667 0C11.244 0
13.3333 2.08933 13.3333 4.66667V8H15.3333C16.4379 8
17.3333 8.89543 17.3333 10V10.7333C18.8548 11.0422 20
12.3874 20 14C20 15.6127 18.8548 16.9579 17.3333
17.2667V18C17.3333 19.1045 16.4379 20 15.3333 20H2C0.895431
20 0 19.1045 0 18V10C0 8.89543 0.895431 8 2 8H4ZM5.33333
4.66667C5.33333 2.82572 6.82572 1.33333 8.66667
1.33333C10.5076 1.33333 12 2.82572 12 4.66667V8H5.33333V4.66667ZM11.3333
12C10.2288 12 9.33333 12.8954 9.33333 14C9.33333 15.1045 10.2288 16
11.3333 16H16.6667C17.7712 16 18.6667 15.1045 18.6667
14C18.6667 12.8954 17.7712 12 16.6667 12H11.3333Z"
                    fill="#F3A630"
                  />
                </svg>
              </div>
            </div>
            <!-- Gradient Bottom Border -->
            <div class="h-[1px] w-full bg-custom-gradient"></div>

            <p
              *ngIf="
                changePasswordForm.get('confirmPassword')?.invalid &&
                changePasswordForm.get('confirmPassword')?.touched
              "
              class="text-red-400 text-xs mt-1"
            >
              Confirm password is required.
            </p>
            <p
              *ngIf="
                changePasswordForm.get('confirmPassword')?.value !==
                  changePasswordForm.get('newPassword')?.value &&
                changePasswordForm.get('confirmPassword')?.touched
              "
              class="text-red-400 text-xs mt-1"
            >
              Passwords do not match.
            </p>
          </div>

          <!-- Submit Button -->
          <!-- <button
            type="submit"
            [disabled]="changePasswordForm.invalid"
            class="w-full py-3 rounded-xl font-semibold text-white bg-gradient-to-r from-cyan-400 to-cyan-600 hover:from-cyan-500 hover:to-cyan-700 transition-all duration-300 disabled:opacity-50 disabled:cursor-not-allowed transform hover:scale-[1.03]"
          >

          </button> -->

          <button
            type="submit"
            [disabled]="changePasswordForm.invalid"
            class="w-full mb-5 bg-[linear-gradient(180deg,#FEC866_0%,#FE8006_100%)] text-black px-1 py-[0.55rem] font-semibold rounded-tl-[16px] rounded-tr-[3px] rounded-br-[16px] rounded-bl-[3px] transition-all duration-300 ease-in-out disabled:opacity-50 disabled:cursor-not-allowed transform hover:scale-105 text-base active:scale-95 active:brightness-95 focus:outline-none focus:ring-2 focus:ring-[#F3A630]"
          >
            Reset Password
          </button>

          <!-- Sign Up Link -->
          <p class="text-center text-xs mt-4 text-gray-300">
            Don't have an account?
            <a
              routerLink="/SignUp"
              class="text-[#F3A630] hover:text-white transition-colors ml-1 underline"
            >
              Sign Up
            </a>
          </p>
        </form>
      </div>

      <!-- Vertical Divider -->
      <!-- <div class="flex items-center">
        <div class="h-[340px] w-px bg-white bg-opacity-30 mx-2"></div>
      </div> -->
      <!-- Password Guidelines - Right Side -->
      <!-- <div class="flex flex-col justify-center p-8 w-[300px]">
        <h4 class="text-white text-sm font-semibold mb-4">
          Password Requirements:
        </h4>
        <ul class="space-y-4 text-xs">
          <li class="flex items-center gap-2">
            <input
              type="checkbox"
              id="lengthCheck"
              [checked]="validateGuidelines('length')"
              disabled
              class="w-4 h-4 rounded"
            />
            <span
              [class.text-green-400]="validateGuidelines('length')"
              [class.text-red-400]="!validateGuidelines('length')"
            >
              Password Length should be greater than 8.
            </span>
          </li>
          <li class="flex items-center gap-2">
            <input
              type="checkbox"
              id="digitCheck"
              [checked]="validateGuidelines('digit')"
              disabled
              class="w-4 h-4 rounded"
            />
            <span
              [class.text-green-400]="validateGuidelines('digit')"
              [class.text-red-400]="!validateGuidelines('digit')"
            >
              Minimum 1 Number in the password.
            </span>
          </li>
          <li class="flex items-center gap-2">
            <input
              type="checkbox"
              id="uppercaseCheck"
              [checked]="validateGuidelines('uppercase')"
              disabled
              class="w-4 h-4 rounded"
            />
            <span
              [class.text-green-400]="validateGuidelines('uppercase')"
              [class.text-red-400]="!validateGuidelines('uppercase')"
            >
              Minimum 1 capital letter in the password.
            </span>
          </li>
          <li class="flex items-center gap-2">
            <input
              type="checkbox"
              id="specialCharCheck"
              [checked]="validateGuidelines('specialChar')"
              disabled
              class="w-4 h-4 rounded"
            />
            <span
              [class.text-green-400]="validateGuidelines('specialChar')"
              [class.text-red-400]="!validateGuidelines('specialChar')"
            >
              Minimum 1 special character in the password like &#64;, #, $.
            </span>
          </li>
          <li class="flex items-center gap-2">
            <input
              type="checkbox"
              id="matchCheck"
              [checked]="validateGuidelines('match')"
              disabled
              class="w-4 h-4 rounded"
            />
            <span
              [class.text-green-400]="validateGuidelines('match')"
              [class.text-red-400]="!validateGuidelines('match')"
            >
              Password should match with confirm password.
            </span>
          </li>
        </ul>
      </div>
    </div> -->
    </div>
  </div>

  <div
    class="lg:hidden fixed bottom-0 left-0 pl-2 flex justify-start items-end w-[8rem] pointer-events-none"
  >
    <img
      src="https://cmaxv2images2.pages.dev/assets/avatars/loginCPL.png"
      alt="Character"
      class="w-[7rem] sm:w-[8rem] h-auto"
    />
  </div>
</div>
