<section class="relative w-full h-[500px] flex items-center justify-center text-center text-white">
  <!-- BACKGROUND IMAGE -->
  <div class="absolute inset-0">
    <img src="https://cmaxv2images2.pages.dev/assets/backgrounds/cta-image.jpg" class="w-full h-full object-cover" />
  </div>

  <div class="relative z-10 flex flex-col items-center px-4">


    <!-- <img src="https://cmaxv2images2.pages.dev/assets/logos/loginLogo.png" alt="CasinoMaxs Logo"
    class="w-[215px] logo-glow -mt-24" /> -->

    <h1 class="text-white text-3xl md:text-4xl lg:text-[42px] font-bold leading-tight max-w-full">
      Join the CasinoMaxs
      <span class="text-[#FEA234]">Community</span> & Winners!
    </h1>

    <p class="text-[#A6B1C2] mt-3 max-w-4xl leading-relaxed">
      Experience the ultimate CasinoMaxs thrill packed with features that make
      every game session seamless, exciting, and full of cash-winning
      opportunities!
    </p>

    <button (click)="RedirectToLogin()" class="btn-primary mt-12 !px-16">
      Play Game
    </button>
  </div>
</section>