<!-- <div
  class="relative w-full h-screen min-h-[500px] bg-cover bg-center"
  style="background-image: url('/public/BackgroundImg.png')"
>
  <img
    src="/logo.png"
    alt="Logo"
    class="absolute top-6 left-6 w-24 md:w-32 lg:w-40 xl:w-48 2xl:w-56 h-auto z-20"
  />

  <img
    src="/public/Person.png"
    alt="Person"
    class="absolute left-6 bottom-6 w-32 md:w-44 lg:w-56 xl:w-64 2xl:w-72 h-auto z-20"
  />
</div> -->
<div></div>
<div class="container">
  <div
    class="relative w-full h-screen min-h-[100vh] bg-cover bg-center"
    style="background-image: url('/BackgroundImg.pnghttps://cmax-2.pages.dev/assets/BackgroundImg.png')"
  >
    <!-- Logo at top left -->
    <img
      src="/logo.png"
      alt="Logo"
      class="absolute top-3 left-4 w-32 md:w-44 lg:w-56 xl:w-64 2xl:w-72 h-auto z-20 drop-shadow-[0_0_20px_rgba(44,217,125,0.4)]"
    />

    <!-- Person image at bottom left -->
    <img
      src="https://cmax.pages.dev/assets/Person.png"
      alt="Person"
      class="absolute left-6 bottom-1 w-32 md:w-44 lg:w-56 xl:w-64 2xl:w-72 h-auto z-20"
    />
  </div>
</div>
